  /* General Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }

  :root {
    --sections: 4;
    --secHeight: 87vh;
    --secTopPadding: 1.5em;
    --secMargin: 4vw;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  #sections {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repear(var(--sections), var(--secHeight));
    gap: var(--secMargin);
    padding-bottom: calc(2 * var(--secTopPadding));
    margin-bottom: 0;
  }

  #section1 {--index: 1;}
  #section2 {--index: 2;}
  #section3 {--index: 3;}
  #section4 {--index: 4;}
  #section5 {--index: 4;}
  #section6 {--index: 4;}

  .section {
    position: sticky;
    top: 0;
    padding-top: 2em;;
    justify-content: center;
    align-items: center;
  }

  .work-section,
  .aboutme-section,
  .projects-section,
  .resume-section,
  .social-section {
    box-sizing: border-box;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rbga(0,0,0,0.3);
    height: var(--secHeight);
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    text-align: center; 
    vertical-align: baseline;
    box-shadow: 0 0 10px 2px #ffffff;
  }

  h2 {
    font-size: 24px;
    color: white;
  }

  .computer-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rbga(0,0,0,0.3);
    height: var(--secHeight);
    background-color: #1e1e1e;
    box-shadow: 0 0 10px 2px #ffffff;
  }
  
  .computer-image {
    width: 50%;
    height: auto;
    display: block;
    margin-top: 1%;
    opacity: 10%;
    position: absolute;
    justify-content: center;
    align-items: center;
    /* animation: fadeIn 2s forwards ease-in; */
  }
  
  .shell {
    font-size: 15px;
    margin-left: -2%;
    width: 430px;
    height: 330px;
    margin-top: 4%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fallback background */
    overflow: hidden; /* Ensure shell content fits */
    padding: 30px;
    color: #0f0;
    font-family: 'Courier New', monospace;
    overflow-y: auto;
    border: 2px solid #333;
    border-radius: 5px;
    animation: fadeIn 2s forwards ease-in;
    opacity: 0;
  }
  
  .output {
    white-space: pre-wrap; /* Preserve formatting */
    word-wrap: break-word;
  }

  .shell form {
    display: flex;
    align-items: center;
  }
  
  .shell input {
    flex-grow: 1;
    background: transparent;
    color: #0f0;
    border: none;
    outline: none;
    width: 100%;
    font-family: 'Courier New', monospace;
  }

  .content {
    margin-top: 40%;
    opacity: 0;
    animation: fadeIn 2s forwards ease-in;
  }
  
  .social-section ul,
  .projects-section ul {
    list-style: none;
    padding: 0;
  }
  
  .social-section li,
  .projects-section li {
    margin: 1rem 0;
  }
  
  .social-section a,
  .projects-section a,
  .resume-section a{
    color: #58a6ff;
    text-decoration: none;
  }

  .social-section a:hover,
  .resume-section a:hover,
  .projects-section a:hover {
    text-decoration: underline;
  }
  
  .default-note {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 3s,
        cursor .75s step-end infinite alternate;
  }

  /* Animations */
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  @keyframes typing {
    from { width: 0; }
  }

  @keyframes resizeSection {
    0% {
      transform: scale(1);
      background-color: #1e1e1e;
    }
    50% {
      transform: scale(1.1);
      background-color: #5f5d5d;
    }
    100% {
      transform: scale(1);
      background-color: #1e1e1e;
    }
  }
  
  .section-highlight {
    animation: resizeSection 1s ease-in-out;
  }

  .command-line {
    color: #0f0;
  }
  
  .response {
    color: #58a6ff;
  }
  
  .error {
    color: #ff5555;
  }

  .social-icon {
    width: 24px;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    margin-left: 15px;
  }

  @media (max-width: 480px) {
    .computer-screen {
      width: 100%; 
    }
    .computer-image {
      width: 90%;
      display: block;
      margin-top: 25%;
      margin-left: 0;
    }
    .shell {
      font-size: 9px;
      margin-top: 31%;
      left: 20.7%;
      width: 200px;
      height: 160px;
      padding: 8px;
    }
    .content {
      margin-top: 40%;
      justify-content: center;
      align-items: center;
    }
  }
  
